
<mat-toolbar class="class.mat-elevation-z8">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <span>Quickbooks</span>

    <span class="example-spacer"></span>

    <button mat-icon-button routerLink="/post" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>home</mat-icon>
    </button>

    <button routerLink="/about" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>book</mat-icon>
    </button>
    <button routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>notifications</mat-icon>
      </button>
    
  </mat-toolbar>
  
